
body {
  margin: 0;
  background-color: #84a59d;
}
#welcome-section {
  background-color: white;
  padding: 20px;
  text-align: center;
}
#navbar {
  overflow: hidden;
  background-color: #52796f;
}
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#projects {
  background-color: white;
  padding: 20px;
  text-align: center;
}
#main_body {
  color: #050f64;
  text-align: center;
  margin-bottom: 150px;
}
#main_body a {
  color: rgb(32, 13, 141);
  text-decoration: none;
}
#footer {
  background-color: #52796f;
  text-align: center;
  padding: 10px;
}
#footer a {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
}
  @media only screen and (max-height: 100%) {
    body {
      background-color: lightblue;
    }
  }